*
{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  .pricing-table {
    border-collapse: collapse;
    width: 70%;
    max-width: 900px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
  }


  .pricing-table td {
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
  }

  .pricing-table th {
    background-color: #796de9;
    color: #fff;
  }

  .pricing-table td:first-child {
    text-align: left;
    background-color: #f9f9f9;
    font-weight: bold;
  }

  .price {
    font-size: 15px;
    font-weight: bold;
  }

  button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    border-radius: 15px;
  }

  button:hover {
    background-color: #c9e467;
  }